{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html' %}

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-2">
        <h2 class="text-center bg-success p-2">Atualizar Animais</h2>

        {% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">

            {{ render_field(form.nome, class="form-control")}}
            

            <label for="modelo"><strong>Espécie :</strong></label>
            <select name="modelo" id="modelo" class="form-control" required>
                <option value="{{produto.modelo_id}}">{{produto.modelo.name}}</option>
                {% for modelo in modelos %}
                <option value="{{modelo.id}}">{{modelo.name}}</option>
                {% endfor %}
            </select>

            <label for="tema"><strong>Raça :</strong></label>
            <select name="tema" id="tema" class="form-control" required>
                <option value="{{produto.tema_id}}">{{produto.tema.name}}</option>
                {% for tema in temas %}
                <option value="{{tema.id}}">{{tema.name}}</option>
                {% endfor %}
            </select>

            <label for="sexo"><strong>Sexo :</strong></label>
            <select name="sexo" id="sexo" class="form-control" required>
                <option value="Macho" {% if produto.sexo == "Macho" %}selected{% endif %}>Macho</option>
                <option value="Fêmea" {% if produto.sexo == "Fêmea" %}selected{% endif %}>Fêmea</option>
            </select>

            {{ render_field(form.idade, class="form-control")}}
            
            <label for="porte"><strong>Porte :</strong></label>
            <select name="porte" id="porte" class="form-control" required>
                <option value="Pequeno" {% if produto.sexo == "Pequeno" %}selected{% endif %}>Pequeno</option>
                <option value="Médio" {% if produto.sexo == "Médio" %}selected{% endif %}>Médio</option>
                <option value="Grande" {% if produto.sexo == "Grande" %}selected{% endif %}>Grande</option>
            </select>

            {{ render_field(form.descricao, class="form-control", placeholder="Descrição do produto",rows="10")}}
            <div class="card">
                <img src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" width="150" height="80">
                <div class="col-md-10">{{ render_field(form.imagem_1, class="form-control")}}</div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='imagens/' + produto.imagem_2)}}" width="150" height="80">
                <div class="col-md-10">{{ render_field(form.imagem_2, class="form-control")}}</div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='imagens/' + produto.imagem_3)}}" width="150" height="80">
                <div class="col-md-10">{{ render_field(form.imagem_3, class="form-control")}}</div>
            </div>
            
            <button type="submit" class="btn btn-outline-info mt-4 mb-5">Atualizar Produto</button>            
        </form>
        <a href="{{url_for('admin')}}" class="btn btn-danger"style="margin-top: -160px; margin-left: 158px;">Cancelar</a>
    </div>
    <div class="col-md-2"></div>
</div>
</div>

{% endblock content %}